// import varible
@import 'varibles';

* {
    padding:0;
    margin:0;
    box-sizing: 0;
}
body {
    background:#1c1b1b;
}

#numbers {
    color: rgb(1, 136, 177);
    font-size: 7.5em;
    display: flex;
    justify-content: $cen;
    align-items: $cen;
    height: 100vh;
    font-family:$arial;
}

@media screen and (max-width:585px){
    #numbers {
        font-size: 5em !important;
    }    
}